* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.navbar {
    position: sticky;
    margin-top: -35px;
    margin-bottom: 1px;
    /* Serve para fixar o header*/
    top: 0;
    z-index: 99;
    border-bottom: 20px solid transparent;
    background: linear-gradient(to right, rgba(31, 32, 31, 0.6) 10%, rgb(247, 0, 197)100%, rgb(11, 230, 230, 0.2) 100%), border-box;

}

.navbar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-Content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    color: rgb(255, 31, 7);
    margin-left: 544px;
    animation: logo 2s linear infinite;
    

}

span {
    color: rgb(255, 80, 255);
    animation: span 2s linear infinite;

}

@keyframes logo {
    0% {
        color: rgb(255, 80, 255);
        ;
    }

    100% {
        color: rgb(167, 241, 17);
    }
}

@keyframes span {
    0% {
        color: rgb(167, 241, 17);
    }

    100% {
        color: rgb(255, 80, 255);
    }
}

nav ul {
    display: flex;
    list-style: none;
    align-items: end;
    margin-left: 150px;

}

.nav-icones-container {
    display: flex;
    margin-right: -80px;
}

.nav-icones-container .icone {
    width: 30px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 55%;

}

nav ul a {
    margin-right: 2.5rem;
    cursor: pointer;
    color: rgb(167, 241, 17);
    margin-top: 5px;

}

nav ul a:hover {
    font-size: larger;
    transform: translatey(-5px);
    transition: all 0.2s;
    font-weight: bold;
    color: rgb(233, 229, 233);
}

.icone {
    display: flex;
    margin-right: 1rem;

}

h1 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 70px;

}

.logos {
    display: flex;
    flex-direction: column;
    margin-left: -600px;
    margin-top: -5px;
}

#c {
    font-size: 100px;
}

h4 {
    color: rgb(167, 241, 17);
    margin-top: -54px;
    margin-bottom: 10px;
    margin-left: 580px;
    font-size: 14PX;
}



/*  body */
#foto-topo {
    margin-top: -220px;
    margin-bottom: -5px;
    width: 100%;
    height: 200px;
    border-top: 1px solid transparent;
    border-bottom: 20px solid transparent;
    display: inline-flex;
    background: linear-gradient(to left, rgb(19, 247, 140, 0.4) 1%, rgb(247, 0, 197)50%, rgba(11, 11, 11, 0.4) 5%), border-box;

}

.loja {

    max-width: 100%;
    /* background-color: rgb(10, 10, 10);*/
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./image/sophia.jpeg");
    background-position: center;
    background-size: cover;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.prod {
    max-width: 100%;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;

}

h2 {
    color: rgb(167, 241, 17);
    margin-top: 80px;
    margin-bottom: -10px;
    font-size: 30px;
    animation: logo 2s linear infinite;
}

#nome {
    margin-top: 440px;
    margin-left: -450px;
    color: chartreuse;
}


#titulo-tl {
    margin-top: 30px;
    font-size: 50px;
}

#f-tela {
    width: 630px;

}


#tela {
    display: flex;
    margin-bottom: 5px;
    padding: 3px;
}



#blusas {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}


#calcas {

    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}

#bermudas {

    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;

}

#toalhas {

    display: flex;
    font-size: 18px;
    text-align: center;
    column-gap: 60px;
    margin-top: 30px;

}


p {
    margin-bottom: 1px;

}

#carrinho {
    max-width: 900px;
    margin: 100 auto;
    padding: 0 40%;
    display: block;
    margin-bottom: 110px;

}


#imgum {

    border: black solid 1px;
    margin-right: 100px;
    margin-left: -10px;
    margin-top: 25px;
    border-radius: 50%;
    width: 450px;
    margin-bottom: 30px;

}

.preco {
    color: rgb(255, 16, 255);

}

.nome {
    font-size: 14px;
    color: chartreuse;
}

.modelo {
    font-size: 14px;
    color: chartreuse;
}

.add-car {
    width: 350px;
    color: rgb(255, 255, 255);
    background-color: rgb(245, 14, 14);
    border-radius: 3px;
    padding: 2px;
    text-decoration: none;
}

#img1 {
    width: 160px;
    height: 250px;
    margin-bottom: 5px;
    border-radius: 50%;
}

#img1:hover {
    width: 280px;
    height: 500px;
}


#img2 {
    width: 160px;
    height: 270px;
    border-radius: 50%;
    margin-left: 28px;
}

#img2:hover {
    width: 280px;
    height: 500px;
    border-radius: 10px;
    border: white 2px solid;
}


#foto-sobre {
    width: 320px;
    height: 220px;
    margin-top: 80px;
    margin-bottom: 110px;
    margin-right: 40px;
}


.sobre {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    background-color: rgb(72, 84, 84);
    justify-content: space-between;
    color: rgba(243, 175, 15, 0.6);
    font-weight: 900;
    font-size: 18px;
}

#sobre {
    margin-top: 60px;

}

#texto {
    width: 450px;
    margin-left: -30px;
    margin-top: 80px;
}

.contato {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 350px;
    align-items: center;
    justify-content: space-around;
    background: linear-gradient(to right, rgba(9, 9, 9, 0.8) , rgba(31, 32, 31, 0.7) 2%, rgb(247, 0, 197, 0.6)34%, rgb(21, 21, 21), rgba(255,0,0, 0.6) , rgba(0,0,0, 0.4)), border-box;
    /*background-color: rgb(214, 69, 163);*/
    padding: 3px;

}

#titulo-cont{
    margin-top: 60px;
}

.inf{
    color: #00ffff;
    margin-left: 40px ;
}

.inf1{
    display: flex;
    margin-top: 10px;
    color: aqua;
}
.inf2{
    margin-left: 50px;
    color: aqua;
    margin-bottom: -30px;
   
    
}
#zap {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

#fone {
    width: 25px;
    height: 15px;
    margin-left: 5px;
    margin-right:  5px;
   

}

.num-cont {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin-left: -20px;
    align-items: center;

}

#loc {
    width: 35px;
    height: 30px;
    background-color: rgba(255, 0, 183, 0.4);
    margin-bottom: -40px;
   
   
}

@media (min-width: 960px) {
    .menu-hamb-button {
        display: none;
    }
}

@media (max-width: 960px) {
    nav {
        position: absolute;
        width: 100%;
        top: 100%;
        left: 0px;
        right: 0;
        background: linear-gradient(to right, rgba(31, 32, 31, 0.6) 1%, rgb(247, 0, 197)100%, rgb(11, 230, 230, 0.2) 70%), border-box;
        padding: 32px 0;
        border-top: outset;

    }

    nav li a {
        line-height: 40px;
        width: 100%;
        margin-left: -25px;
    }

    .logos {
        align-items: flex-end;
        margin-top: 5px;
        width: 100%;
    }

    h4 {
        margin-left: 560px;
    }

    .nav-icones-container {
        width: 100%;
        justify-content: space-around;
        margin-right: 220px;
    }

    #tela,
    #titulo-tl {
        display: none;
    }

    #img2 {
        width: 160px;
        height: 240px;
        border-radius: 50%;
        margin-left: -10px;
        gap: 0;
    }

    .prod {
        display: flex;
        width: 100%;
        flex-direction: column;
    }

    .prod-side-left {
        height: 50%;
        flex-basis: 50%;
        margin-left: 20px;
    }



    .sobre {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    #sobre {
        margin-left: -40px;

    }

    .contato {
        display: flex;
        width: 100%;
    }

    .num-cont {
        justify-content: center;
    }
}