* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.navbar {
    position: sticky;
    margin-top: -35px;
    margin-bottom: 1px;
    top: 0;
    /* Serve para fixar o header*/
    z-index: 99;
    border-bottom: 20px solid transparent;
    background: linear-gradient(to right, rgba(31, 32, 31, 0.6) 1%, rgb(247, 0, 197)100%, rgb(11, 230, 230, 0.2) 70%), border-box;

}

.navbar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header-Content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.logo {
    color: rgb(255, 31, 7);
    margin-left: 544px;
    animation: logo 2s linear infinite;

}

span {
    color: rgb(255, 80, 255);
    animation: span 2s linear infinite;

}

@keyframes logo {
    0% {
        color: rgb(255, 80, 255);
        ;
    }

    100% {
        color: rgb(167, 241, 17);
    }
}

@keyframes span {
    0% {
        color: rgb(167, 241, 17);
    }

    100% {
        color: rgb(255, 80, 255);
    }
}

nav ul {
    display: flex;
    list-style: none;
    align-items: end;
    margin-left: 150px;

}

.nav-icones-container {
    display: flex;
    margin-right: -80px;
}

.nav-icones-container .icone {
    width: 30px;
    cursor: pointer;
}

nav {
    display: flex;
    justify-content: space-between;
    width: 55%;

}

nav ul li {
    margin-right: 2.5rem;
    cursor: pointer;
    color: rgb(167, 241, 17);
    margin-top: 5px;

}

nav ul li:hover {
    font-size: larger;
    transform: translatey(-5px);
    transition: all 0.2s;
    font-weight: bold;
    color: rgb(233, 229, 233);
}

.icone {
    display: flex;
    margin-right: 1rem;

}


h1 {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 70px;

}

.logos {
    display: flex;
    flex-direction: column;
    margin-left: -600px;
}

#c {
    font-size: 100px;
}

h4 {
    color: rgb(167, 241, 17);
    margin-top: -50px;
    margin-bottom: 10px;
    margin-left: 580px;
    font-size: 14PX;
}



/*  body */
#foto-topo {
    margin-top: -220px;
    margin-bottom: -5px;
    width: 100%;
    height: 250px;
    border-top: 1px solid transparent;
    border-bottom: 20px solid transparent;
    display: inline-flex;
    background: linear-gradient(to left, rgb(19, 247, 140, 0.4) 1%, rgb(247, 0, 197)100%, rgb(11, 230, 230, 0.3) 1%), border-box;

}

.loja {

    max-width: 100%;
    background-color: rgb(10, 10, 10);
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

h2 {
    color: rgb(167, 241, 17);
    margin-top: 80px;
    margin-bottom: -10px;
    font-size: 30px;
    animation: logo 2s linear infinite;
}

#nome {
    margin-top: 440px;
    margin-left: -450px;
    color: chartreuse;
}


#titulo-tl {
    margin-top: 30px;
    font-size: 50px;
}

#f-tela {
    width: 630px;

}


#tela {
    display: flex;
    margin-bottom: 5px;
    padding: 3px;
}



#blusas {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}


#calcas {

    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}

#bermudas {

    display: flex;
    justify-content: space-between;
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
    
}

#toalhas {

    display: flex;
    font-size: 18px;
    text-align: center;
    column-gap: 60px;
    margin-top: 30px;

}

a {
    justify-content: space-between;
    font-size: 13px;
    text-decoration: none;
    margin-top: 430px;
    width: 140px;
}

p {
    margin-bottom: 1px;

}

#carrinho {
    max-width: 900px;
    margin: 100 auto;
    padding: 0 40%;
    display: block;
    margin-bottom: 110px;

}


#imgum {

    border: black solid 1px;
    margin-right: 100px;
    margin-left: -10px;
    margin-top: 25px;
    border-radius: 50%;
    width: 450px;
    margin-bottom: 30px;

}

.preco{
    color: rgb(241, 16, 16);

}

.nome{
    font-size: 14px;
    color:chartreuse;
}
.modelo{
    font-size: 14px;
    color:chartreuse;
}
.add-car{
    color:rgb(17, 241, 189);
}

#img1 {
    width: 160px;
    height: 250px;
    margin-bottom: 5px;
    border-radius: 50%;
}

#img1:hover {
    width: 280px;
    height: 500px;
}


#img2 {
    width: 160px;
    height: 270px;
    border-radius: 50%;
    margin-left: -10px;
}

#foto-sobre {
    width: 320px;
    height: 220px;
    margin-top: 80px;
    margin-bottom: 110px;
    margin-right: 40px;
}

.sobre {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    background-color: rgb(72, 84, 84);
    justify-content: space-between;
    color: rgba(243, 175, 15, 0.6);
    font-weight: 900;
    font-size: 18px;
}

#sobre {
    margin-top: 60px;

}

#texto {
    width: 450px;
    margin-left: -30px;
    margin-top: 80px;
}

.contato {
    display: flex;
    max-width: 100%;
    height: 40px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(138, 43, 226, 0.3);
    padding: 3px;
    
}

#zap {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}

#fone {
    width: 15px;
    height: 15px;
    margin-left: -20px;

}

.num-cont {
    display: flex;
    width: 450px;
    margin-left: -20px ;
    align-items: center;

}

#end{
    margin-left: -130px;
}

#loc{
    width: 18px;
    height: 19px;
    margin-left: 220px;

}